/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&family=Roboto:wght@300&display=swap');

.navbar-brand a{
  text-decoration: none;
  color: grey;
}

.add {
  font-size: 15px;
}

.container {
  width: 800px;
}

.container a {
  color: #327cbc;
  text-decoration: none;
}

.container p {
  color: #474a4b;
  text-align: center;
  font-family: roboto;
}

.container a:hover {
  color: #22527C;
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-family: roboto slab;
  font-weight: 400;
}
